---
import Layout from '../layouts/Layout.astro'
import Center from '../components/Center.astro'
import Box from '../components/Box.astro'
import Switcher from '../components/Switcher.astro'
import Cover from '../components/Cover.astro'
---

<Layout title="Shit talkin">
  <Cover>
    <Box>This is a header</Box>
    <Center textCenter>
      <h1>This is the centered bit</h1>
    </Center>
    <Box>This is below the centered bit</Box>
  </Cover>
  <main>
    <Center>
      <Switcher class="fuckboi">
        <Box>Poop time</Box>
        <Box>Poop time</Box>
        <Box>Poop time</Box>
        <Box>Poop time</Box>
        <Box>Poop time</Box>
      </Switcher>
    </Center>
  </main>
</Layout>

<style>
  .fuckboi > :nth-last-child(n + 5),
  .fuckboi > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
  }
</style>
