---
import Layout from '../layouts/Layout.astro'
import Box from '../components/Box.astro'
import Stack from '../components/Stack.astro'
import Center from '../components/Center.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <Center>
      <Box border="var(--border-thick) solid">
        <Box inverted>
          <h1>Header Shit</h1>
        </Box>
        <Box border="none">
          <Stack splitAfter={2}>
            <Box bgColor="aquamarine">
              <h2>Some shit</h2><p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                quaerat assumenda eaque, tenetur dicta mollitia quam repellat,
                omnis adipisci consequatur aliquam id tempore illo consectetur
                fugit magni rem, corporis non?
              </p>
            </Box>
            <Box bgColor="pink">
              <h2>Some shit</h2><p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                quaerat assumenda eaque, tenetur dicta mollitia quam repellat,
                omnis adipisci consequatur aliquam id tempore illo consectetur
                fugit magni rem, corporis non?
              </p>
            </Box>
            <Box bgColor="#eb8755">
              <h2>Some shit</h2><p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque
                quaerat assumenda eaque, tenetur dicta mollitia quam repellat,
                omnis adipisci consequatur aliquam id tempore illo consectetur
                fugit magni rem, corporis non?
              </p>
            </Box>
          </Stack>
        </Box>
      </Box>
    </Center>
  </main>
</Layout>

<style></style>
