---
import Page from '../layouts/Page.astro'
import Cover from '../layouts/Cover.astro'
import Header from '../components/Header.astro'
---

<Page title="Mount Prospect Web Design">
  <Header />
  <main></main>
</Page>
