---
import Cluster from '../layouts/Cluster.astro'
---

<Cluster justifyContent="space-between">
  <a href="/" style="text-decoration: none;"><span>KODA</span></a>
  <Cluster>
    <a href="/how-it-works">How it works</a>
    <a href="/about">About</a>
    <a href="/work">Work</a>
    <a href="/contact">Contact</a>
  </Cluster>
</Cluster>
