---
interface Props {
  space?: string
  recursive?: boolean
}

const { space, recursive } = Astro.props
---

<div class:list={['stack', { recursive }]}>
  <slot />
</div>

<style define:vars={{ space }}>
  div {
    --space: var(--space, 1.5rem);
  }
</style>
