---
interface Props {
  space?: string
  recursive?: boolean
}

const { space, recursive } = Astro.props
---

<div class:list={['stack', { recursive }]}>
  <slot />
</div>

<style define:vars={{ space }}>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    --space: var(--space, 1.5rem);
  }
</style>
