---
interface Props {
  border?: string
  color?: string
  padding?: string
  bgColor?: string
  inverted?: boolean
  class?: string
  style?: string
}

const {
  border,
  color,
  padding,
  bgColor,
  inverted,
  class: className,
  style,
} = Astro.props
---

<div class:list={['box', { inverted }]} class={className} style={style || ''}>
  <slot />
</div>

<style define:vars={{ border, padding, color, bgColor }}>
  .box {
    padding: var(--padding, var(--s1));
    border: var(--border, var(--border-thin) solid);
    color: var(--color, var(--color-dark));
    background-color: var(--bgColor, var(--color-light));
  }

  .inverted {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
</style>
