---
interface Props {
  gap?: string
  threshold?: string
  class?: string
  style?: string
}

const { class: className, gap, threshold = '30rem', style } = Astro.props
---

<div class:list={['switcher']} class={className} style={style || ''}>
  <slot />
</div>

<style define:vars={{ gap, threshold }}>
  .switcher {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, var(--s1));
    --threshold: var(--threshold);
    --limit: var(--limit);
  }
</style>
